/*!
 * Flat UI Free v2.2.2 (http://designmodo.github.io/Flat-UI/)
 * Copyright 2013-2014 Designmodo, Inc.
 */

/* Prettyfy Theme */

.demo-browser-action > .btn {
  padding: 7px 0 8px 11px !important;
  text-align: left;
  border-radius: 3px;
  }
.demo-browser-action > .btn > [class^="fui-"] {
  position: relative;
  top: 1px;
  margin-right: 12px;
  }
